<ion-header>
    <ion-toolbar>
        <ion-title>
            Mi credito
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <h1 class="credito">$215.00</h1>
    </div>
    <div class="ion-padding">
        <ion-button expand="full" shape="round" color="tertiary">Transferencias</ion-button>
    </div>
</ion-content>

<ion-footer class="ion-padding">
    <div>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon name="happy"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-icon name="cash"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-button id="fotButton" expand="full" color="primary">Agregar familia</ion-button>
</ion-footer>