<ion-header>
    <ion-toolbar>
        <ion-title>
            Mi credito
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <h1 class="credito">$215.00</h1>
    </div>
    <div class="ion-padding">
        <ion-button mode="ios" expand="full" shape="round" color="tertiary">Movimientos</ion-button>
    </div>
</ion-content>

<ion-footer class="ion-padding">
    <div>
        <ion-slides pager="false" [options]="slidesOpts">
            <ion-slide *ngFor="let slide of slides">
                <div class="avatar" (click)="abrirModal()">
                    <img [src]="slide.image">
                    <p>{{slide.title}}</p>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    <ion-button mode="ios" id="fotButton" expand="full" color="primary">Agregar familia</ion-button>
</ion-footer>