.credito {
    font-size: 23vw;
    text-align: center;
}

ion-button {
    font-size: 24px;
}

#fotButton {
    font-size: 20px;
}

ion-slide {
    margin-bottom: 10vw;
}

.avatar {
    margin-left: 5vw;
}